html,body {
    position: relative;
    height: 100%;
}
    
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
    
.swiper {
    width: 100%;
    height: 100%;
}
    
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /*Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
*{
    font-family: 'Prata', sans-serif;
    position: relative;
}
html{
  scroll-behavior: smooth;
}
.header{
    text-align: center;
    position: absolute;
    top: 1.5rem;
    color: white;
    font-size: 5rem;
    left: 11rem;
}
.banner{
  width: 100%;
  height: 250px;
}
.header-2{
  text-align: center;
  font-size: 2rem;
}
.image_1{
  height: 400px;
  display: block;
  object-fit: cover;
  width: 100%;
}
.follow{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  background-color: blanchedalmond;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.5s ease-in-out; 
}
.follow:hover{
  background-color:darksalmon;
}
.for_image{
}
@media (max-width: 400px){
  .banner{
    width: 100%;
  }
  .header{
    font-size: 1rem;
    color: black;
  }
}
