* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

}
body{
  background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000);
}

.slider1 {
  margin-top: 7%;
  padding: 5% ;
}

.slider1 .slide {
  width: 25%;
  align-items: center;
  position: relative;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 20px;
  z-index: -1;
}

.slider1 .mySlides {
  display: none;
  scale: .9;
}

.slider1 .mySlides img {
  vertical-align: middle;
  border-radius: 20px;
}

.dots {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c7c7c7;
  border: 2px solid #c7c7c7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

h2{
  margin-top: 5%;
  font-size: 18px;
  margin-left: 5%;
}

.second{
  margin-bottom: -2%;
  margin-left: 10%;
}

.active {
  background-color: #ffffff;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

img{
  border-radius: 10px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.Slides {
  display: none;
  scale: .8;
  border-radius: 5px;
}

.Slides img{
  border-radius: 5px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
  left: 10%;
}

.next {
  right: 10%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
}

@media screen and (min-width: 320px) {
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-size: 62.5%;
    }

    ::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #bdbdbd;
    }

    .header {
      margin-top: 25px;
    }

    .header-title {
      padding: 10px;
      margin-bottom: 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 6.3rem;
    }

    .header-description {
      padding: 10px;
      font-family: 'Lato', sans-serif;
      font-size: 1.8rem;
    }

    .description-title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 40px;
    }

    .description-paragraph {
      margin-bottom: 50px;
      width: 85%;
      font-weight: 400;
      font-size: 30px;
    }

    .presentation {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      margin: auto;
      width: 95%;
    }

    .presentation-container:nth-child(2) {
      position: relative;
      top: 100px;
    }

    .presentation-container:nth-child(4) {
      position: relative;
      top: 100px;
    }

    .presentation-container:nth-child(6) {
      position: relative;
      top: 60px;
      align-items: center;
    }

    .container__img {
      width: 80%;
    }

    .container__title {
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      font-size: 2.8rem;
    }

    .container__job {
      position: relative;
      bottom: 65%;
      left: 82%;
      font-family: 'Lato', sans-serif;
      font-weight: 650;
      font-size: 27px;
      writing-mode: vertical-rl;
    }
